[submodule "external/prober"]
	path = external/prober
	url = https://github.com/JustinCBates/docker_prober_utility.git
[submodule "external/config-manager"]
	path = external/config-manager
	url = https://github.com/JustinCBates/openproject-config-manager.git
[submodule "external/deploy-manager"]
	path = external/deploy-manager
	url = https://github.com/JustinCBates/openproject-deploy-manager.git
[submodule "external/control-flow"]
	path = external/control-flow
	url = https://github.com/JustinCBates/control-flow.git
[submodule "external/tui-form-designer"]
	path = external/tui-form-designer
	url = https://github.com/JustinCBates/TUI_Form_Designer.git
[submodule "external/dependency-manager"]
	path = external/dependency-manager
	url = https://github.com/JustinCBates/dependency-manager.git
